.chat-messages {
    width: 80%;
    height: 70vh;

    overflow-y: auto;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.635);
}
.chat-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 10px;
}
.chat-input {
    padding: 20px;
    margin-right: 10px;
    height: 40px;
    width: -webkit-fill-available;
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.635);
    overflow: none;
}
.message-container {
    margin-inline: 20px;
    padding: 5px;
    border-bottom: 1px solid rgb(146, 146, 146);
}
.message-container.my-message {
    text-align: right;
}
.message-userinfo {
    font-weight: 700;
}
.message-text {
}
